{% extends 'base.html' %}

{% block title %}Cocina con Cheff Nava - Editar Producto {% endblock %}

{% block content %}
<div class="contact-form">
  <div class="form-container">
    <div class="container">
      <h2>Actualizar Producto</h2>
      <form action="{{ url_for('producto.ruta_editar_producto', id_producto=producto['id_producto']) }}" enctype="multipart/form-data" method="post">
        
        <!-- Nombre del Producto -->
        <div class="form-group mb-3">
          <label for="nombre">Nombre del Producto:</label>
          <input type="text" id="nombre" name="nombre" value="{{ producto['nombre_producto'] }}" class="form-control" required>
        </div>

        <!-- Descripción del Producto -->
        <div class="form-group mb-3">
          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" name="descripcion" class="form-control" required>{{ producto['descripcion'] }}</textarea>
        </div>

        <!-- Precio del Producto -->
        <div class="form-group mb-3">
          <label for="precio">Precio:</label>
          <input type="number" id="precio" name="precio" step="0.01" value="{{ producto['precio'] }}" class="form-control" required>
        </div>

        <!-- Selección de Categoría -->
        <div class="form-group mb-3">
          <label for="categoria">Categoría:</label>
          <select id="categoria" name="id_categoria_FK" class="form-control" required>
              {% for categoria in categorias %}
              <option value="{{ categoria['id_categoria'] }}" {% if categoria['id_categoria'] == producto['id_categoria_FK'] %}selected{% endif %}>
                {{ categoria['nombre_categoria'] }}
              </option>            
              {% endfor %}
          </select>
        </div>

        <!-- Imagen del Producto -->
        <div class="form-group mb-3">
          <label for="imagen">Imagen:</label>
          <input type="file" id="imagen" name="imagen" class="form-control">
          
          {% if producto.imagen %}
            <div class="current-image mt-2">
              <p>Imagen actual:</p>
              <img src="{{ url_for('static', filename='images/productos/' + producto.imagen) }}" alt="Imagen del producto" width="150">
            </div>
          {% endif %}
        </div> 

        <!-- Botón de enviar -->
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-danger" href="{{ url_for('producto.mostrar_productos') }}">Agregar Producto</button>
        </div>
        
        <!-- Botón Volver -->
        <div class="d-flex justify-content-center mt-2">
          <a href="{{ url_for('producto.mostrar_productos') }}" class="btn btn-primary btn-sm">Tabla Productos</a>
          <a href="{{ url_for('producto.listar_productos') }}" class="btn btn-secondary btn-sm">Vista Clientes</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
