{% extends "base.html" %}

{% block content %}
<div class="contact-form">
    <div class="container mt-5">
        <h1 class="display-6 text-center text-dark mb-4">
            Sección de Gestión de Categorías
        </h1>
        
        
        <div class="row mb-4">
            <div class="col-12 text-center">
                <a href="{{ url_for('categoria.ruta_crear_categoria') }}" class="btn btn-lg btn-danger">Añadir Nueva Categoria</a>
            </div>
        </div>

        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr style="text-align: center;">
                    <td>{{ categoria.id_categoria }}</td>
                    <td>{{ categoria.nombre_categoria }}</td>
                    <td>{{ categoria.descripcion }}</td>
                    <td>
                        {% if categoria.imagen %}
                        <img src="{{ url_for('static', filename='images/categorias/' + categoria.imagen) }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="{{ categoria.nombre_categoria }}" />
                        {% else %}
                            <p>No hay imagen disponible.</p>
                        {% endif %}
                    </td>
                    <td>
                        <div class="d-flex flex-column justify-content-center align-items-stretch">
                          <a href="{{ url_for('categoria.ruta_editar_categoria', id_categoria=categoria.id_categoria) }}" class="btn btn-warning mb-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem;">Editar</a>
                          
                          <form action="{{ url_for('categoria.ruta_borrar_categoria') }}" method="POST">
                            <input type="hidden" name="id_categoria" value="{{ categoria.id_categoria }}" />
                            <button type="submit" class="btn btn-danger mb-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .9rem; --bs-btn-font-size: .75rem;">Eliminar</button>
                          </form>
                          
                          <a href="{{ url_for('categoria.mostrar_categoria_detalle', id_categoria=categoria.id_categoria) }}" class="btn btn-info mb-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem; color: white;">Detalles</a>
                          
                          <a href="{{ url_for('categoria.listar_categorias') }}" class="btn btn-primary mb-1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem;">Vista Clientes</a>
                        </div>
                      </td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>
</div>
{% endblock %}
