{% extends "base.html" %}

{% block title %}Cocina con Cheff Nava - Gestión de Pedidos {% endblock %}

{% block content %}
<div class="contact-form">
    <div class="container mt-5">
        <h1 class="display-6 text-center text-dark mb-4">
            Estás en la Sección de Gestión de Pedidos
        </h1>
        
        <div class="row mb-4">
            <div class="col-12 text-center">
                <a href="{{ url_for('pedido.ruta_crear_pedido') }}" class="btn btn-success btn-lg">Añadir Nuevo Pedido</a>
            </div>
        </div>

        {% if pedidos %}
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID Pedido</th>
                    <th scope="col">Número Pedido</th>
                    <th scope="col">ID Carrito</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Total (€)</th>
                    <th scope="col">Fecha del Pedido</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id_pedido }}</td>
                    <td>{{ pedido.num_pedido }}</td>
                    <td>{{ pedido.id_carrito_FK }}</td>
                    <td>{{ pedido.cantidad }}</td>
                    <td>{{ pedido.precio_carrito }}</td>
                    <td>{{ pedido.fecha_pedido }}</td>
                    <td>
                        <a href="{{ url_for('pedido.ruta_editar_pedido', id_pedido=id_pedido) }}" class="btn btn-warning btn-sm">Editar</a>
                        <form action="{{ url_for('pedido.ruta_borrar_pedido') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="id_pedido" value="{{ pedido.id_pedido }}">
                            <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                        </form>
                        <a href="{{ url_for('pedido.mostrar_pedido_detalle', id_pedido=pedido['id_pedido']) }}" class="btn btn-info btn-sm">Detalles</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-center">No hay pedidos disponibles.</p>
        {% endif %}
    </div>
</div>
{% endblock %}