{% extends 'base.html' %}
{% block content %}
  <div class="contact-form">
    <hr class="featurette-divider" />
    <div class="container my-5">
      <div class="row featurette" style="padding-bottom: 6em;">
        <h2 class="text-center">Bienvenidos a Cocina con Cheff Nava</h2>
        <h4 class="text-center">Descubre Nuestra Selección de Sabores</h4>
      </div>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">🌱 Ensaladas Vitales: Frescura y Salud en Cada Bocado <span class="text-body-secondary">El aliado perfecto para tu bienestar.</span></h2>
          <p class="lead">Las ensaladas son ricas en vitaminas, minerales y fibra, ayudando a mantener una dieta equilibrada. Son bajas en calorías y aportan frescura y nutrientes esenciales para una buena salud.</p>
        </div>
        <div class="col-md-5">
          <img src="/static/images/categorias/ensaladas.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Ensaladas frescas" />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">🥂 Bebidas para Todos los Gustos <span class="text-body-secondary">Refresca tu día.</span></h2>
          <p class="lead">Las bebidas complementan cada comida. Desde aguas refrescantes y jugos naturales, hasta cafés aromáticos, vinos elegantes y cervezas, ofrecen variedad y satisfacen todo tipo de gustos.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="/static/images/categorias/bebidas.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Bebidas variadas" />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">🍰 Postres Caseros: El Broche de Oro <span class="text-body-secondary">Cierra tu comida con un toque dulce.</span></h2>
          <p class="lead">Los postres caseros destacan por su sabor y autenticidad. Preparados con ingredientes frescos, aportan el toque dulce perfecto para cerrar una comida de forma deliciosa y memorable.</p>
        </div>
        <div class="col-md-5">
          <img src="/static/images/categorias/postres.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Postres caseros" />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">☕ Cafés de Autor: Aroma y Sabor <span class="text-body-secondary">Una pausa inolvidable.</span></h2>
          <p class="lead">Nuestros cafés ofrecen una experiencia única. Desde espressos intensos hasta capuccinos cremosos, son el aliado perfecto para comenzar el día o disfrutar una pausa relajante.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="/static/images/categorias/cafes.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Cafés variados" />
        </div>
      </div>
    </div>
    <hr class="featurette-divider" />
  </div>
{% endblock %}
