<!-- templates/shared/footer.html -->

{% block content %}
<footer class="bg-light py-3 mt-5">
    <div class="container text-center">
        <p>&copy; 2024 Cocina con Cheff Nava. Todos los derechos reservados.</p>
        <ul class="list-unstyled">
            <li class="nav-item"><a href="{{ url_for('extra.privacidad') }}" class="nav-link d-inline">Política de privacidad</a></li>
            <li class="nav-item"><a href="{{ url_for('extra.terminos') }}" class="nav-link d-inline">Términos y condiciones</a></li>                       
        </ul>
    </div>
</footer>
{% endblock %}